# pandas練習問題

In [2]:
import pandas as pd

## 練習問題:1-1

タプル型のデータを渡して Series オブジェクトを作成せよ。

In [3]:
# 解答セル
Series = (1, 2, 3)

## 練習問題:1-2

ser オブジェクトの先頭の要素を参照せよ。

In [4]:
# 解答セル
Series[0]

1

## 練習問題:1-3

以下の `ix_ser` オブジェクトのインデックス `"b"` を参照せよ。

In [5]:
ix_ser = pd.Series([1, 2, 3], index=["a", "b", "b"])
ix_ser

a    1
b    2
b    3
dtype: int64

In [6]:
# 解答セル
ix_ser.loc["b"]

b    2
b    3
dtype: int64

## 練習問題:1-4

`ix_ser` オブジェクトのインデックスを 「`"a"`, `"b"`, `"c"`」`にせよ。

In [16]:
# 解答セル
ix_ser.index = ["a", "b", "c"]
ix_ser

a    1
b    2
c    3
dtype: int64

## 練習問題:1-5

以下の `df` オブジェクトの「0」列を参照せよ。

In [18]:
df = pd.DataFrame([[1, 10], [2, 20], [3, 30]])
df

   0   1
0  1  10
1  2  20
2  3  30

In [19]:
# 解答セル
df.loc[:, 0]

0    1
1    2
2    3
Name: 0, dtype: int64

## 練習問題:1-6

次のような `DataFrame` を作成せよ。オブジェクト名は `prefs_df` とする。

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>都道府県名</th>
      <th>県庁所在地</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>北海道</td>
      <td>札幌</td>
    </tr>
    <tr>
      <th>1</th>
      <td>青森</td>
      <td>青森</td>
    </tr>
  </tbody>
</table>

In [23]:
# 解答セル
prefs_data = {
    "都道府県名" : ["北海道", "青森"],
    "県庁所在地" : ["札幌", "青森"]
}

prefs_df = pd.DataFrame(prefs_data)
prefs_df

  都道府県名 県庁所在地
0   北海道    札幌
1    青森    青森

## 練習問題:1-7

`prefs_df` から「県庁所在地」列を参照せよ。

In [26]:
# 解答セル
prefs_df.loc[:, "県庁所在地"]

0    札幌
1    青森
Name: 県庁所在地, dtype: object

## 練習問題:2-1

以下の `ser` オブジェクトからラベル（インデックス）が `"a"` から `"d"` までを参照せよ。

In [27]:
ser = pd.Series(range(5), index=list("abcde"))
ser

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [28]:
# 解答セル
ser.loc["a":"d"]

a    0
b    1
c    2
d    3
dtype: int64

## 練習問題:2-2

`ser` オブジェクトからラベル（インデックス）が `"b"` と `"d"` を参照せよ。

In [30]:
# 解答セル
ser.loc[["b", "d"]]

b    1
d    3
dtype: int64

## 練習問題:2-3

以下の `df` オブジェクトから `"r2c1"` を参照せよ。

In [31]:
df = pd.DataFrame(
    [
        ["r1c1", "r1c2", "r1c3"],
        ["r2c1", "r2c2", "r2c3"],
        ["r3c3", "r3c2", "r3c3"],
    ],
    index=["r1", "r2", "r3"],
    columns=["c1", "c2", "c3"]
)
df

      c1    c2    c3
r1  r1c1  r1c2  r1c3
r2  r2c1  r2c2  r2c3
r3  r3c3  r3c2  r3c3

In [32]:
# 解答セル
df.loc["r2", "c1"]

'r2c1'

## 練習問題:2-4

`df` オブジェクトから以下のように、「r2」以降の列と、「c1, c3」列を参照せよ。

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>c1</th>
      <th>c3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>r2</th>
      <td>r2c1</td>
      <td>r2c3</td>
    </tr>
    <tr>
      <th>r3</th>
      <td>r3c3</td>
      <td>r3c3</td>
    </tr>
  </tbody>
</table>

In [33]:
# 解答セル
df.loc["r2":"r3", ["c1", "c3"]]

      c1    c3
r2  r2c1  r2c3
r3  r3c3  r3c3

## 練習問題:2-5

以下の `ser` オブジェクトの値1を20に、4を40に変更せよ。

In [34]:
ser = pd.Series(range(5), index=list("abcde"))
ser

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [35]:
# 解答セル
ser["b"] = 20
ser["e"] = 40
ser

a     0
b    20
c     2
d     3
e    40
dtype: int64

## 練習問題:2-6

以下の `df` オブジェクトの「c3」列の値を"C3"に変更せよ。

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>c1</th>
      <th>c2</th>
      <th>c3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>r1</th>
      <td>r1c1</td>
      <td>r1c2</td>
      <td>C3</td>
    </tr>
    <tr>
      <th>r2</th>
      <td>r2c1</td>
      <td>r2c2</td>
      <td>C3</td>
    </tr>
    <tr>
      <th>r3</th>
      <td>r3c3</td>
      <td>r3c2</td>
      <td>C3</td>
    </tr>
  </tbody>
</table>

In [36]:
df = pd.DataFrame(
    [
        ["r1c1", "r1c2", "r1c3"],
        ["r2c1", "r2c2", "r2c3"],
        ["r3c3", "r3c2", "r3c3"],
    ],
    index=["r1", "r2", "r3"],
    columns=["c1", "c2", "c3"]
)
df

      c1    c2    c3
r1  r1c1  r1c2  r1c3
r2  r2c1  r2c2  r2c3
r3  r3c3  r3c2  r3c3

In [37]:
# 解答セル
df.loc[:, "c3"] = "C3"
df

      c1    c2  c3
r1  r1c1  r1c2  C3
r2  r2c1  r2c2  C3
r3  r3c3  r3c2  C3

## 練習問題:2-7

以下の `bool_ser` オブジェクトの負の値かつ奇数の値を0に変更せよ。

In [38]:
bool_ser = pd.Series([-3, -2, -1, 0, 1, 2, 3], index=list("abcdefg"))
bool_ser

a   -3
b   -2
c   -1
d    0
e    1
f    2
g    3
dtype: int64

In [42]:
# 解答セル
bool_ser.loc[(bool_ser < 0) & (bool_ser % 2 != 0)]

a   -3
c   -1
dtype: int64

## 練習問題:2-7

以下の `bool_df` オブジェクトの「A」列が負の値の列を0に変更せよ。

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>a</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>b</th>
      <td>1</td>
      <td>-1</td>
      <td>-2</td>
    </tr>
    <tr>
      <th>c</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>

In [55]:
bool_df = pd.DataFrame(
    [
        [-3, 2, 0],
        [1, -1, -2],
        [-4, 4, 3],
    ],
    index=list("abc"),
    columns=list("ABC")
)
bool_df

   A  B  C
a -3  2  0
b  1 -1 -2
c -4  4  3

In [59]:
# 解答セル
bool_df.loc[bool_df.loc[:, "A"] < 0, :] = 0
bool_df

   A  B  C
a  0  0  0
b  1 -1 -2
c  0  0  0