# データの操作

この節では、各データ型の操作方法を学びます。
データの操作ができるようになります。

## 項目

- 文字列操作
- リスト操作
- 辞書操作
- 集合操作

## 文字列操作

In [1]:
s1 = "I am a teacher"
s1

'I am a teacher'

In [2]:
s2 = s1.title()   # 先頭文字を大文字化
s2

'I Am A Teacher'

In [3]:
s3 = s1.replace(" ", "-")  # スペースをハイフンに変換
s3

'I-am-a-teacher'

In [4]:
s4 = s1.split()  # スペースで区切りリスト化
s4

['I', 'am', 'a', 'teacher']

In [5]:
"Name,Address,email".split(",")  # カンマで区切りリスト化

['Name', 'Address', 'email']

In [6]:
" ".join(s4)  # スペースでリストをつなぐ

'I am a teacher'

In [7]:
s1.startswith("I")  # 先頭文字が指定の文字か確認

True

In [8]:
s1.startswith('a')

False

In [9]:
s1.endswith('r')  # 最終文字が指定の文字か確認

True

In [10]:
len(s1)  # 文字数をカウント

14

In [11]:
"a" in s1  # 文字列にaが含まれていか？

True

In [12]:
"b" in s1  # 文字列にbが含まれているか？

False

In [13]:
"My name is " + "Manabu"  # 文字の連結

'My name is Manabu'

In [14]:
"k" * 9  # 文字の繰り返し

'kkkkkkkkk'

### 文字フォーマッティング

文字をテンプレートに埋める

- 旧来の%s
- .formatメソッド
- f-string

In [15]:
"I am a %s" % "student"

'I am a student'

In [16]:
"I am a {position}".format(position="student")

'I am a student'

In [17]:
position = "student"
f"I am a {position}"

'I am a student'

### インデックス操作とスライス操作

| | | | | | | | | | | | | | |
|-|-|-|-|-|-|-|-|-|-|-|-|-|-|
| I |   | a | m |   | a |   | t | e | a | c | h | e | r |
| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 | 12 | 13 |
|-14 | -13 | -12 | -11 | -10 | -9 | -8 | -7 | -6 | -5 | -4 | -3 | -2 | -1|

In [18]:
s1

'I am a teacher'

In [19]:
s1[0]

'I'

In [20]:
s1[5]

'a'

In [21]:
s1[-1]

'r'

In [22]:
s1[-14]

'I'

In [23]:
s1[14]

IndexError: string index out of range

In [24]:
s1[7:10]

'tea'

In [25]:
s1[:4]

'I am'

In [26]:
s1[10:]

'cher'

In [27]:
s1[10:100]

'cher'

## リスト操作

In [28]:
li1 = [1, 2, 3, 4, 5]

In [29]:
li2 = reversed(li1)
li2

In [30]:
li3 = list(li2)
li3

[5, 4, 3, 2, 1]

In [31]:
li3.sort()

In [32]:
li3

[1, 2, 3, 4, 5]

In [33]:
li1

[1, 2, 3, 4, 5]

In [34]:
li4 = li1 + [6]
li4

[1, 2, 3, 4, 5, 6]

In [35]:
li5 = li4 + [7, 8, 9]
li5

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
li5.append(10)

In [37]:
li5

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
li5.extend([11, 12])

In [39]:
li5

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [40]:
li1

[1, 2, 3, 4, 5]

In [41]:
li1[3]

4

In [42]:
li1[1:]

[2, 3, 4, 5]

In [43]:
li1[:10]

[1, 2, 3, 4, 5]

In [44]:
len(li1)

5

In [45]:
li1[2] = 11

In [46]:
li1

[1, 2, 11, 4, 5]

In [47]:
li1[3:5] = [12, 13]

In [48]:
li1

[1, 2, 11, 12, 13]

## 辞書操作

In [49]:
dic1 = {"user_id": 1, "name": "Terada"}

In [50]:
"user_id" in dic1

True

In [51]:
len(dic1)

2

In [52]:
dic1["name"]

'Terada'

In [53]:
dic1["age"] = 35

In [54]:
dic1

{'user_id': 1, 'name': 'Terada', 'age': 35}

In [55]:
dic1["age"] = 50
dic1

{'user_id': 1, 'name': 'Terada', 'age': 50}

In [56]:
dic1["last"]

KeyError: 'last'

In [57]:
dic1.get("last")

In [58]:
dic1.get("last", "No last")

'No last'

In [59]:
dic1.get("user_id", 0)

1

In [60]:
dic1.keys()

dict_keys(['user_id', 'name', 'age'])

In [61]:
dic1.values()

dict_values([1, 'Terada', 50])

In [62]:
dic1.items()

dict_items([('user_id', 1), ('name', 'Terada'), ('age', 50)])

## 集合操作

In [65]:
team1_ages = {18, 25, 40, 30}
team2_ages = {50, 27, 25, 31}

In [66]:
18 in team1_ages

True

In [67]:
18 in team2_ages

False

In [68]:
len(team1_ages)

4

In [69]:
team1_ages & team2_ages  # 積集合

{25}

In [70]:
team1_ages | team2_ages  # 和集合

{18, 25, 27, 30, 31, 40, 50}

In [71]:
team1_ages.add(31)  # 要素31を追加

In [72]:
team1_ages

{18, 25, 30, 31, 40}

In [73]:
team1_ages.add(25)  # 要素25を追加したが、同じ要素があるので変更されない
team1_ages

{18, 25, 30, 31, 40}